@model IEnumerable<CreateIdentityApp.Models.User>
@{
    ViewData["Title"] = "List of users";
}

<h2>List of users</h2>
<table class="table">
    @foreach(var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Access rights</a>
            </td>
        </tr>
    }
</table>