@{
    ViewData["Title"] = "Password Reset Confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Your password has been reset. To enter the application, click on the <a asp-action="Login"> link </a>.
</p>