@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-action="Logout" asp-controller="Account">
        <input type="submit" value="Logout" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Sign in</a><br />
    <a asp-controller="Account" asp-action="Register">Sign up</a><br/>
    <a asp-controller="Account" asp-action="ForgotPassword">Forgot Password</a>
} 
